<div class="container boxDown">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3 class="text-center my-4">Search for Weather</h3>
        <div class="col-md-6 offset-md-3">
          <div class="form-group d-flex">
            <input class="form-control" type="text" placeholder="City" [(ngModel)]="request.town"/>
            <button type="submit" class="btn bg-dark text-white btn-md ml-2" (click)="sendToAPIXU()">
              <i class="material-icons pt-2">search</i>
            </button>
          </div>
        </div>
        
      
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="weatherCard col-md-6 offset-md-3">
          <div class="">
            <span class="temp" *ngIf="response.temperature">{{ this.response.temperature }} °C</span>
            <span class="feelsLike temp" *ngIf="response.feelslike">Feels like {{ this.response.feelslike }} °C</span>
            <span class="location" *ngIf="response.name">{{ response.name }}, {{ response.country }}</span>
          </div>
        </div>
      </div>
    </div>
</div>
  
  
  
